<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>GetPromoter</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
</head>
<header>

</header>
<body>
<div class="text-center">
    <img width="200px" src="https://cdn.discordapp.com/attachments/960315930301333637/974931365206302730/tst.png">
    <h2>GetLite</h2>
</div>
<form class="container">
    <div class="row">
        <div class="col-6">
            <div class="input-group mb-3">
                <span class="input-group-text">Saldo Disponivel</span>
                <span class="input-group-text">$ 0.00</span>
            </div>
        </div>
        <div class="col-6">
            <div class="input-group mb-3 col-6">
                <span class="input-group-text">Saldo Pendente</span>
                <span class="input-group-text">$ 50.00</span>
            </div>
        </div>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Documento</th>
            <th scope="col">Status</th>
            <th socpe="col">Valor</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Carla dos Santos</td>
            <td>11*.***.***.00</td>
            <td>Pendente</td>
            <td>R$ 50,00</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob Taylor</td>
            <td>12*.***.***.12</td>
            <td>Ativo</td>
            <td>R$ 50,00</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Batman Fake</td>
            <td>123.***.***.32</td>
            <td>Pendente</td>
            <td>R$ 50,00</td>
        </tr>
        </tbody>
    </table>
</form>
</body>
</html>